.menuM{
    position: fixed;
    z-index: 9999;
    width:100%;
    top: 0%;
    background-color: white;
}
.discount{
    width: 100%;
    background-color: #901c16;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logoS img{
    width: 200px;
    margin-left: 500px;
}
.pp1{
    position: absolute;
    width: 200px;
    margin-left: 10px;
    display: none;
}

.icons1{
    display: flex;
    justify-content: right;
}
.menu1{
    margin-bottom: 15px;
}
.menu1 ul{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 50px;
    list-style-type: none;
}
.menu1 ul{
    margin-top: 0px;
}
.menu1 a{
    text-decoration: none;
    color: black;
}
.menu1 a:hover{
    color: rgb(4, 104, 20);
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: - 30px;
}


.textFirst{
    width: 600px;
    position: relative;
    margin-left: 60px;
    padding-top: 25px;
}
.par3{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}
.picture{
    margin-top: 250px;
    margin-left: 37px;
    margin-bottom: 90px;
    position: relative;
}
.picture1{
    position: absolute;
    height: 270px;
}



.container{
    max-width: 1300px;
}
.shop-item{
    position: relative;
}

.text-info{
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 15px;
}
.text-info h3{
    font-size: 20px;
}
.text-info span{
    margin-left: 170px;
}
.shop{
    margin-top: 20px;
}
.text{
    margin-top: 50px;
    width: 1000px;
    margin-left: 150px;
}
.par{
    font-size: 25px;
    font-style:inherit;
    margin-bottom: 10px;
}
.text01{
    margin-top: 30px;
}
.par2{
    font-weight: 700;
    margin-bottom: 5px;
}


.footer{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 12px;
}
.p1{
    font-weight: 700;
}
.end{
    margin-top: 30px;
    margin-bottom: 30px;
}
.icons{
    display: flex;
    justify-content: center;
}
.t2{
    text-align: center;
    margin-top: 10px;
}



@media only screen and (max-width: 942px){
    .text{
        justify-content: center;
        max-width: 40%;
    }
}

@media only screen and (max-width: 900px)
 {
    .menuM{
        position: relative;
        margin-bottom: -200px;
        margin-left: -30px;
    }
    .picture1{
        display: none;
    }
    .textFirst{
        max-width: 90%;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }
    .disc{
        max-width: 100%;
        margin-left: 30px;
        margin-right: 0%;
    }
    
    .pp{
        display: none;
    }
    
    .pp1{
        margin-left: -70px;
        display: block;
        margin-top: -30px;
    }

    .menu1{
        padding: 0;
    }
    
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        background: #901c16;
        margin-top: -900px;
        transition: all 0.5s ease;

    }
    .menu1 a{
        color: white;
    }
    .menu1 a:hover{
        color: rgb(0, 0, 0);
    }
    
    .nav-links li{
        margin: 30px auto;
    }
    .col span{
        margin-left: 0px;
    }
}

